nav.navbar.navbar-default.subNavBar
            .container
                ul.nav.navbar-nav.subNavBar
                    li
                        a(href="http:#") Tratamientos
                    li
                        a(href="http:#") Especialidades
                    li
                        a(href="http:#") Ubicación